html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: none !important;
    background-color: transparent !important;
    color: white !important;
    -webkit-text-fill-color: white !important; /* Ensures autofill text remains white */
    transition: background-color 9999s ease-in-out 0s; /* Prevents color flash */
}


html {
  position: relative;
  min-height: 100%;
}

body {
    background: black;
    margin-bottom: 60px;
}
h1 {
    background: radial-gradient( circle at 100%, #00edff, #003092 50%, #003092 75%, #ffffff 75% );
    font-weight: 900 !important;
    font-family: 'Sixtyfour Convergence', sans-serif;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
}
.table {
    border-radius: 25px !important;
    border: 1px solid white !important;
    overflow: hidden !important;
    padding: 10px;
    background: #000 !important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #000000 !important;
    background-clip: padding-box;
    border: 1px solid rgb(245 245 245) !important;
    border-radius: .3rem;
    outline: 0;
    color: white;
}
.loginForm {
    border: 1px solid rgb(245 245 245) !important;
    border-radius: .3rem;
    padding: 20px;
}
    .table th,
    .table td {
        color: white;
        padding: 5px; 
    }
.btn {
    border-radius: 15px;
    background: #003092 !important;
    color: white;
}
.navbar{
    border: 1px solid white;
    background: transparent;
}
.form-control {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 0;
    padding: 8px 0;
}

    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.5); 
    }

    .form-control:focus {
        outline: none;
        border-bottom: 2px solid #00ffcc;
        box-shadow: none;
        background-color: transparent;
        color: white;
    }

  
@keyframes animatedTextGradient {
    to {
        background-position: 200% center;
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
@import url(https://fonts.googleapis.com/css?family=Lato:600);


.rotating-text {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: white;
    transform: translateX(-80px);
    p

{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
    .word

{
    position: absolute;
    display: flex;
    opacity: 0;
    .letter

{
    transform-origin: center center 25px;
    &.out

{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

&.in {
    transition: 0.38s ease;
}

&.behind {
    transform: rotateX(-90deg);
}

}
}
}
}

//palette: https://flatuicolors.com/palette/defo
.alizarin {
    color: #e74c3c;
}

.wisteria {
    color: #8e44ad;
}

.peter-river {
    color: #003092;
}

.emerald {
    color: #00edff;
}

.sun-flower {
    color: #3498db;
}
